SNOWFLAKE_ACCOUNT=your_org-your_account
SNOWFLAKE_USER=your_user
SNOWFLAKE_PASSWORD=your_password
SNOWFLAKE_ROLE=TRANSFORMER
SNOWFLAKE_DATABASE=ARR_LAB
SNOWFLAKE_WAREHOUSE=TRANSFORMING
SNOWFLAKE_SCHEMA=DBT_YOUR_NAME
